* {
  margin: 0;
  padding: 0;
}
body {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
}
.carousel-wrapper {
  width: 650px;
  margin: 15px auto;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 8px #999;
}
.select-wrapper, .checkbox-wpapper, .menu-wrapper {
  width: 650px;
  margin: 15px auto;
}
.checkbox-wpapper ul {
  list-style: none;
}
.jquery-checkbox, .css-checkbox {
  margin-top: 15px;
  margin-bottom: 15px;
}
.jquery-checkbox label {
  vertical-align: top;
  display: inline-block;
  width: 100px;
}
h2 {
  margin: 15px;
}
